In [1]:
import pandas as pd
jan = pd.read_csv('399531268_T_ONTIME_REPORTINGJan.csv')
feb = pd.read_csv('399531268_T_ONTIME_REPORTINGFeb.csv')
mar = pd.read_csv('399531268_T_ONTIME_REPORTINGMar.csv')
april = pd.read_csv('399531268_T_ONTIME_REPORTINGApril.csv')
may = pd.read_csv('399531268_T_ONTIME_REPORTINGMay.csv')
jun = pd.read_csv('399531268_T_ONTIME_REPORTINGJun.csv')

In [2]:
first_half_2019 = pd.concat((jan, feb, mar, april, may, jun)).reset_index(drop=True)
first_half_2019.head()

,QUARTER,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN_CITY_NAME,...,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DIV_AIRPORT_LANDINGS,DIV_ARR_DELAY,DIV1_AIRPORT_ID,Unnamed: 42
0,1,2019-01-11,WN,19393,N220WN,1480,13204,1320402,31454,"Orlando, FL",...,4,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1,1,2019-01-11,WN,19393,N7889A,2199,13204,1320402,31454,"Orlando, FL",...,4,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
2,1,2019-01-11,WN,19393,N764SW,402,13204,1320402,31454,"Orlando, FL",...,5,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3,1,2019-01-11,WN,19393,N8309C,458,13204,1320402,31454,"Orlando, FL",...,5,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
4,1,2019-01-11,WN,19393,N8686A,1966,13204,1320402,31454,"Orlando, FL",...,5,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
5,1,2019-01-11,WN,19393,N7703A,103,13204,1320402,31454,"Orlando, FL",...,3,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
6,1,2019-01-11,WN,19393,N435WN,179,13204,1320402,31454,"Orlando, FL",...,3,15.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN
7,1,2019-01-11,WN,19393,N469WN,2191,13204,1320402,31454,"Orlando, FL",...,3,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
8,1,2019-01-11,WN,19393,N8306H,1726,13204,1320402,31454,"Orlando, FL",...,5,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
9,1,2019-01-11,WN,19393,N8523W,2298,13204,1320402,31454,"Orlando, FL",...,9,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN

In [3]:
first_half_2019.to_csv('first_half_201.csv')

In [4]:
dimension = first_half_2019.shape
dimension

(3634338, 43)

In [5]:
print(list(first_half_2019.columns))

['QUARTER', 'FL_DATE', 'OP_UNIQUE_CARRIER', 'OP_CARRIER_AIRLINE_ID', 'TAIL_NUM', 'OP_CARRIER_FL_NUM', 'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID', 'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_NM', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID', 'DEST_CITY_NAME', 'DEST_STATE_ABR', 'DEST_STATE_NM', 'DEP_DELAY', 'DEP_DELAY_NEW', 'DEP_DEL15', 'DEP_DELAY_GROUP', 'DEP_TIME_BLK', 'TAXI_OUT', 'ARR_DELAY', 'ARR_DELAY_NEW', 'ARR_DEL15', 'ARR_DELAY_GROUP', 'ARR_TIME_BLK', 'DIVERTED', 'AIR_TIME', 'FLIGHTS', 'DISTANCE', 'DISTANCE_GROUP', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'DIV_AIRPORT_LANDINGS', 'DIV_ARR_DELAY', 'DIV1_AIRPORT_ID', 'Unnamed: 42']

In [6]:
unwanted = ['OP_CARRIER_AIRLINE_ID', 'OP_CARRIER_FL_NUM', 'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID', 'ORIGIN_STATE_ABR', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID', 'DEST_STATE_ABR', 'DEP_DELAY', 'DEP_DEL15', 'DEP_DELAY_GROUP', 'DEP_TIME_BLK', 'ARR_DELAY', 'ARR_DEL15', 'ARR_DELAY_GROUP', 'ARR_TIME_BLK', 'DISTANCE_GROUP', 'DIV_AIRPORT_LANDINGS', 'DIV1_AIRPORT_ID', 'Unnamed: 42']

In [7]:
first_half_2019.drop(columns = unwanted, inplace = True)

In [8]:
first_half_2019.head()

,QUARTER,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_CITY_NAME,DEST_STATE_NM,DEP_DELAY_NEW,TAXI_OUT,...,DIVERTED,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DIV_ARR_DELAY
0,1,2019-01-11,WN,N220WN,"Orlando, FL",Florida,"Pittsburgh, PA",Pennsylvania,0.0,9.0,...,0.0,118.0,1.0,834.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2019-01-11,WN,N7889A,"Orlando, FL",Florida,"Pittsburgh, PA",Pennsylvania,2.0,14.0,...,0.0,119.0,1.0,834.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2019-01-11,WN,N764SW,"Orlando, FL",Florida,"Providence, RI",Rhode Island,0.0,9.0,...,0.0,141.0,1.0,1072.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2019-01-11,WN,N8309C,"Orlando, FL",Florida,"Providence, RI",Rhode Island,0.0,15.0,...,0.0,144.0,1.0,1072.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2019-01-11,WN,N8686A,"Orlando, FL",Florida,"Providence, RI",Rhode Island,0.0,10.0,...,0.0,142.0,1.0,1072.0,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
first_half_2019.to_csv('first_half_2019.csv')